.task-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &.completed {
      background-color: #e6ffe6; /* Indicando que a tarefa está completa */
      border-color: #28a745;
    }
  
    .task-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  
      h3 {
        margin: 0;
        font-size: 20px;
        color: #333;
      }
  
      .task-status {
        span {
          font-size: 14px;
          padding: 5px 10px;
          border-radius: 4px;
          color: white;
  
          &.completed {
            background-color: #28a745;
          }
  
          &:not(.completed) {
            background-color: #ffc107;
          }
        }
      }
    }
  
    p {
      margin: 10px 0;
      color: #666;
      font-size: 16px;
    }
  
    small {
      display: block;
      color: #999;
      margin-bottom: 10px;
    }
  
    .task-actions {
      margin-top: 15px;
  
      .btn {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
  
        &.btn-edit {
          background-color: #007bff;
          color: white;
  
          &:hover {
            background-color: #0056b3;
          }
        }
  
        &.btn-delete {
          background-color: #dc3545;
          color: white;
          margin-left: 10px;
  
          &:hover {
            background-color: #c82333;
          }
        }
      }
    }
  }
  